body {
    padding: 15px;
    background-image: URL("back.jpg");
    background-size: cover;
}
.file {
    color: white;
}
*{
    color:white;
    font-style: Sans-serif;
}


.heading{
      text-align: center;    
      color: white;
      height: 50px;
      font-family: Arial, Helvetica, sans-serif;
   
}

.headingtwo{
        border: 5px solid black;
        padding-left: 160px;
        padding-right: 160px;
          margin-left: 300px;
          background-color: aliceblue;
          display: inline;
          
}

#th17{
    padding-top: 15px;
    padding-bottom: 15px;
     background-color: rgb(33, 26, 56);
     font-size: 22px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#th18{
    padding-top: 15px;
    padding-bottom: 15px;
     background-color: rgb(33, 26, 56);
     font-size: 22px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#password{
    color:white;
}

#decypt_password{
      color: white;
}

#label23{
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
}

#label25{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#label35{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    background: transparent;
    color: white;
}
input {
    margin: 12px 12px 12px 0px;
    padding: 5px;
    border-radius: 4px;
    border: 3px solid white;
    width: 50%;
    height: 25px;
    color: black;
     background: transparent;
     font-size: 12px;
     padding-left: 10px;

}

#button29{
    padding: 10px 25px;
    border: 5px solid white;
    background-color: white;
    color: black;
    border-radius: 12px;
}

#button29:hover {
    background:rgb(55, 32, 88);
    color: white;
    border: 5px solid rgb(55, 32, 88);
    cursor: pointer;
}

#decode{
    padding: 10px 25px;
    border: 5px solid white;
    background-color: white;
    color: black;
    border-radius: 12px;
}

#decode:hover {
    background:rgb(55, 32, 88);
    color: white;
    border: 5px solid rgb(55, 32, 88);
    cursor: pointer;
}

/* button:focus {
    border-radius: none;
} */

#span47{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#span53{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#originalImageSize{
    color: white;
    font-size: 20px;
}

#span58{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#encryptedImageText{
    color: white;
    background: none;
}


#span62{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#span71{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#encryptedTextSize{
    color: white;
    font-size: 20px;
}

#span75{
    font-size: 20px;
    font-family: sans-serif;
}
#span59{
    font-size: 20px;
    font-family: sans-serif;
}

#decryptedImageSize{
    color: white;
    font-size: 20px;
}
.newdiv {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
table{
     width: 80%;
     border-radius: 10px;
     border-collapse: collapse;
     border-color: black;
     backdrop-filter: blur(20px);
}

tr,
th,
td {
    padding: 10px;
}

/* .form-group {
    padding: 10px;
} */

section{
    padding: 10px;
}
section h3{
    padding-left: 25px;
}



footer {
    color: white;
}
